@page
@model TasteOfHome.Pages.LoginModel

<h1>Login</h1>

@if (Model.Error != "")
{
    <p style="color:red;">@Model.Error</p>
}

<form method="post">
    <input name="Email" placeholder="Email" /><br /><br />
    <input name="Password" type="password" placeholder="Password" /><br /><br />
    <button type="submit">Login</button>
</form>
